<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/icon_a.png') }}" type="image/png">
</head>
<body class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand logo" href="{{ url_for('home.index') }}">ЛОГОПЕД.ОНЛАЙН</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-elements-header">
                    {% block new_links %}{% endblock %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Родителям
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{{ url_for('parents.recommendation') }}">Рекомендации</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('parents.how_to_learn') }}">Как работать с ребенком на платформе</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('blog.blog') }}">Блог</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Детям
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{{ url_for('courses.courses') }}">Курсы</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Коллегам
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{{ url_for('blog.blog') }}">Блог</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
                {% if current_user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-elements-header">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.name }}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('home.profile') }}">Профиль</a></li>
                                <li><hr class="dropdown-divider"></li>
                                {% if current_user.type_user == "логопед" %}
                                    <li><a class="dropdown-item" href="{{ url_for('blog.showOnlyMyArticles') }}">Мои статьи</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('courses.showOnlyMyCourses') }}">Мои курсы</a></li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </div>
          </nav>

    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        @Авторство
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>