{% extends 'blog.html' %}

{% block title %}Мои статьи{% endblock %}

{% block button %}
    <a class="btn btn-primary" href="{{ url_for('blog.blog') }}">
        Посмотреть все статьи
    </a>
{% endblock %}

{% block article %}
    {% for article in articles %}
        {% if current_user.login == article.user.login %}
            <div class="col">
              <a class="card h-100 text-decoration-none text-dark" href="{{ url_for('blog.showCurrentArticle', index_article=loop.index)}}">
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <p class="card-text">{{article.description}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">{{article.user.name}}</small><br>
                  <small class="text-muted">{{article.created_date_str}}</small>
                </div>
              </a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}