{% extends 'base.html' %}

{% block title %}Начало работы{% endblock %}

{% block main %}
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Инструкция примерная:</h5>
             <b>ЛОГОПЕД.ОНЛАЙН</b> представляет собой платформу для занятий
            с детьми дошкольного возраста. <br>
            Для педагогов доступны функции пополнения контента в
            блоге и создания собственных курсов.<br>
            Родители и дети могут читать информацию и проходить курсы.
            Если вы педагог, то вы можете перейти в <a href="{{ url_for('courses.courses') }}">раздел курсы</a> или в <a href="{{ url_for('blog.blog') }}">раздел блога</a> и начать создавать.
            Если ученик - переходи в <a href="{{ url_for('courses.courses') }}">раздел курсов</a> и учись.
        </div>
    </div>
{% endblock %}